<div class="text-message">
  <p><%= text_message.content %> - <%= text_message.created_at.strftime("%B #{text_message.created_at.strftime("%d").to_i.ordinalize}, %Y - %l:%M%P") %> - Incoming: <%= text_message.incoming_message %></p>
</div>