#left-bar {
  float: left;
  margin: 0;
  padding: 0;
  width: 60%;
}

#left-bar h2, h3 {
  font-weight: 300;
}

#client-details h3 {
  padding-left: 30px;
}

#action-plans {
  float: left;
}

#add-action-plan {
  background-color: #E9E9E9;
  border-radius: 4px;
  margin: 5px 5px 0px 35px;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

#add-action-plan:hover {
  background-color: #929292;
  color: white;
}

.action-plan-description {
  margin: 0;
  padding-left: 30px;
  width: 120%;
}
.action-plan-description td {
  word-wrap: true;
}

.action-plan-description td h3 {
  display: inline;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 10px 0px 30px;
}

.action-plan-description td h4 {
  color: #7EA869;
  font-size: 20px;
  font-weight: 300;
}

.action-plan-description td a{
  color: #E9E9E9;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0px 20px;
  text-decoration: none;
}

.action-plan-description td p {
  line-height: .5;
  font-size: 13px;
}

.show-goals {
}

.show-goals-steps {
}


ul.side-bar  {
  float: right;
  margin: 0;
  padding: 0;
  width: 35%;
}

ul.side-bar li {
  background-color: #E9E9E9;
  margin: 20px 0px;
  padding: 2px 20px;
}

ul.side-bar li h2{
  font-weight: 300;
}

.new-msg {
  display: block;
}

.texts {
  background-color: #E9E9E9;

  display: block;
  height: 500px;
}
