header {
  background-color: #7EA869;
  height: 50px;
  margin: 0;
  padding: 10px 40px;
  max-width: 100%;
}

.wrapper {
  min-width: 360px;
}

.nav {
  margin: 0 auto;
  width: 960px;
}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  float: right;
}

.nav ul li a{
  color: white;
  padding: 0px 20px;
}

#dash {
  font-size: 20px;
  margin-top: -3px;
}

#right-bar {
  float: left;
  margin: 0;
  padding: 0;
  width: 60%;
}

#client-details h2 {
  font-weight: 300;
}

#action-plans {
  float: left;
}

ul.side-bar  {
  float: right;
  margin: 0;
  padding: 20px 0px;
  width: 35%;

}

.gray-box li {
  display: block;
}

.new-msg {
  display: block;

}

.texts {
  display: block;
}
