header {
  background-color: #7EA869;
  height: 50px;
  margin: 0;
  padding: 10px 40px;
  max-width: 100%;

}

.wrapper {
}

.nav {
  padding: 5px;
}

.nav li {
  display: inline-block;
  float: right;
  padding: 10px 20px;
}

#dash {
  font-size: 20px;
  margin-top: -3px;
}

.nav a{
  color: white;
}

#client-details {
  float: left;
  margin: 0;
  padding: 0;
  width: 65%;
}

#action-plans {
  float: left;
  width: 65%;
}

.gray-box {
  float: right;
  width: 25%;

}

.new-msg {
  display: block;

}

.texts {
  display: block;
}
