header {
  background-color: #7EA869;
  height: 50px;
  margin: 0;
  padding: 10px 40px;
  max-width: 100%;
}

.wrapper {
  min-width: 360px;
}

.nav {
  margin: 0 auto;
  width: 960px;
}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  float: right;
}

.nav ul li a{
  color: #E9E9E9;
  padding: 0px 20px;
}

.nav ul li a:hover{
  color: white;
  text-decoration: none;
}

#dash {
  font-size: 20px;
  margin-top: -3px;
}

