a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.goal {
  border: 1px solid orange;
}

.goal-description {
  color: red;
}

.step {
  color: blue;
  border: 1px dotted purple;
}

.container {
  max-width: 960px;
  margin: auto;
}

.action-plan {
  border: 1px solid blue;
}