a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.goal {
}

.goal-description {
  color: red;
}

.step {
  color: blue;
}

.container {
  max-width: 960px;
  margin: auto;
}

.action-plan-goals {
  margin-left: 3%;
}

.goal-steps {
  margin-left: 3%;
}